@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {
  transition: all 1s;
  font-size: 1.2vw;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #eaeaea;
}

button {
  cursor: pointer;
}

#container {
  width: 60%;
  margin: auto;
  margin-top: 20%;
  text-align: center;
}

#input1 {
  width: 45%;
  padding: 2%;
  font-size: 1.2em;
  border: solid 1px #7b0202;
  color: #dbdbdb;
  background: #1e1e1e;
  margin-bottom: 3%;
}

#content {
  overflow: visible !important;
  width: 65vw;
  position: absolute;
  left: 30vw;
  top: 2vw;
  background: #fff;
  -webkit-box-shadow: 1px 1px 20px -1px rgba(15, 15, 15, 1);
  -moz-box-shadow: 1px 1px 20px -1px rgba(15, 15, 15, 1);
  box-shadow: 1px 1px 20px -1px rgba(15, 15, 15, 1);
  z-index:10;
}

#content tr {
  width: 100%;
}

#content table {
  width: 100%;
  margin: auto;
}

#content img{
  width: 100%;
}

#content table tr td {
  background: #1b1b1b;
  border: 0.2vw solid #090909;
  color: #eaeaea;
}

#content table tr th {
  background: #0f8a29;
  border: 0.2vw solid #090909;
}

h1,
h2 {
  color: #bb021c;
  letter-spacing: 5px;
}

#hide_menu {
  position: fixed;
  left: 0.4vw;
  top: 0.4vw;
  z-index: 29;
  font-size: 0.7vw;
}

.row {
  margin: 0;
}

#content div div {
  border: 0.05vw solid #a6a6a6;
  padding: 0;
}

#content * {
  cursor: pointer;
}

.active_element {
  border: 0.3vw inset #fe2c2cb3 !important;
}

#right_menu {
  position: fixed;
  width: 4vw;
  height: 0vh;
  background: rgba(15, 15, 15, 0.25);
  right: 0;
  top: 2vw;
  text-align: center;
  transition: 1s all;
  overflow: hidden;
}

#right_menu img {
  width: 61%;
  margin-bottom: 2vw;
  transition: 1s all;
}

#right_menu img:hover {
  transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(357deg) scale(1) skew(1deg) translate(0px);
}

span#content_buttons button {
  padding: 0.3vw 4vw;
  font-size: 1vw;
  margin: 0;
}

span#content_buttons {
  position: fixed;
  display: none;
  right: -50vw;
  bottom: 0;
  transition: 1s all;
  margin: 0 -0.2vw !important;
}

button#accept_page,
#info_box_ok {
  background: #0f8a29;
}

button#restart_page {
  background: #00490f;
}

button#cancel_page,
#info_box_cancel {
  background: #1b1b1b;
  color: #eaeaea;
}

button#accept_page:hover,
#info_box_ok:hover {
  background: #56cc6f;
}

button#restart_page:hover {
  background: #218235;
}

button#cancel_page:hover,
#info_box_cancel:hover {
  background: #ab2d20;
  color: #eaeaea;
}

div#info_box {
  position: fixed;
  width: 50vw;
  padding: 3vw;
  top: 10vw;
  left: 26vw;
  z-index: 99;
  background: #28a745;
  text-align: center;
  
}

#blur {
  opacity:0;
  display:none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 97;
  background: #000000bf;
}

div#info_box span {
  position: absolute;
  left: 33vw;
  top: 13.5vw;
}

#info_box_textarea
{
  margin-top: 0px;
  margin-bottom: 1px;
  height: 8vw;
  width: 100%;

}

#css_menu_element_input{
  display:none;
}
#css_menu_class_input{
  display:none;
}
.css_menu_img {
  width: 1.6vw;
  margin-top: -0.2vw;
  position: relative;
  left: -1.4vw;
}

#css_menu_table {
  width: 95%;
  text-align: center;
  margin-top: 3vw;
  margin-left: 1.6vw;
}

#css_menu_table td {
  text-align: center;
}

#css_table_button_save {
  width: 15vw !important;
  background: #323232 ;
  position: relative;
  left: -1vw;
}

div#css_menu_element_input {
  margin-top: -3vw;
}

.active_col_button{
  display:block;
  margin:auto;
}

div#logo_box {
  margin-top: -19vw;
  position:absolute;
  width:29vw;
  left:49vw;
}
#logo_box img{
  width:100%;
}